{% extends "stampo.html" %}

{% block title %}Home{% endblock %}

{% block center %}
    <section class="chapter">
        <section class="panel panel-box">
            <h3>
                Cos'è questo sito?
            </h3>
            <p>
                Questo sito permette di richiedere il login per la compilazione di moduli creati con <a href="https://www.typeform.com/">Typeform</a> e <a href="https://tripetto.app/">Tripetto</a>.
            </p>
            <p>
                Viene utilizzato per verificare i voti inviati dai membri Royal Games nei sondaggi anonimi e non-anonimi.
            </p>
        </section>
        <section class="panel panel-box">
            <h3>
                Contattaci
            </h3>
            <p>
                Per contattare gli sviluppatori, visita il <a href="https://github.com/RYGhub/rygforms">repository GitHub</a>!
            </p>
            <p>
                In particolare:
            </p>
            <ul>
                <li>
                    se hai riscontrato un bug, <a href="https://github.com/RYGhub/rygforms/issues/new">apri una nuova Issue</a>;
                </li>
                <li>
                    se hai una domanda riguardante il progetto, <a href="https://github.com/RYGhub/rygforms/discussions/new">avvia una nuova Discussion</a>;
                </li>
                <li>
                    se vuoi contribuire a migliorare il progetto, <a href="https://github.com/RYGhub/rygforms/compare"> apri una nuova Pull Request</a>.
                </li>
            </ul>
        </section>
    </section>
    <footer class="align-center">
        <p>
            © {{ g.year }} - <a href="https://steffo.eu">Stefano Pigozzi</a> & <a href="https://fermitech.info">Lorenzo Balugani</a>
        </p>
        <p>
            Sviluppato <a href="https://github.com/RYGhub">dalla RYG</a>, per <a href="https://ryg.one">la RYG</a>
        </p>
        <p>
            Basato (e <span class="color-red">rossopillato</span>) su <a href="https://github.com/LBindustries/Gestione">Gestione 1.05 Permafrost</a> e <a href="https://github.com/RYGhub/bluelib">Bluelib</a>
        </p>
    </footer>
{% endblock %}
